#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}
.pokemonCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 700px;
  border: 5px solid rgb(255, 204, 0);
  padding: 10px;
  border-radius: 10px;
}
.nameAndlife {
  display: flex;
  justify-content: space-around;
  font-size: 110%;
  margin: 0px 0px 0px 0px;
}
.pokemonImageContainer {
  padding: 5% 0 0 0;
  display: flex;
  justify-content: center;
  margin: 24px 0px 64px 0px;
  align-items: center;
  width: 10px;
}
.pokemonImageContainer > img {
  transform: scale(2);
  flex-grow: 1;
  width: 200px;
}
.atacks {
  display: flex;
  flex-direction: column;
  font-size: 110%;
}
.allPokemonInfo {
  display: flex;
  position: relative;
  width: 300px;
  background-color: rgba(192, 192, 192, 0.376);
  padding: 14px 18px;
  flex-direction: column;
  border-radius: 15px;
}
.name,
.life,
.defense,
.specialAttack,
.specialDefense,
.firstAtackName,
.secondAtackName,
.height,
.width {
  display: flex;
  flex-direction: row;
}

.name > p:nth-child(1),
.life > p:nth-child(1),
.defense > p:nth-child(1),
.specialAttack > p:nth-child(1),
.specialDefense > p:nth-child(1),
.firstAtackName > p:nth-child(1),
.secondAtackName > p:nth-child(1),
.height > p:nth-child(1),
.width > p:nth-child(1) {
  display: inline;
  text-align: right;
  width: 50%;
}

.name > p:nth-child(2),
.life > p:nth-child(2),
.defense > p:nth-child(2),
.specialAttack > p:nth-child(2),
.specialDefense > p:nth-child(2),
.firstAtackName > p:nth-child(2),
.secondAtackName > p:nth-child(2),
.height > p:nth-child(2),
.width > p:nth-child(2) {
  display: inline;
  text-align: left;
  width: 50%;
  padding: 0 0px 0 4px;
}